/*
Modify Visual Editor plugin
TSW =|=
 */
table.plugin-options-table { float:left; width: 86%; padding: 2px; margin: 0;}
table.plugin-options-table tr:nth-child(even) { background: #f9f9f9}
table.plugin-options-table tr:nth-child(odd) { background: #FFF}
table.plugin-options-table td:first-child { width: 58%;}
table.plugin-options-table td { vertical-align: middle; padding:5px; color: black;}
table.plugin-options-table td+td { width: auto}
table.plugin-options-table th { padding: 8px;}
table.plugin-options-table td > p { margin-top: 0; margin-bottom: 0;}
.table-condensed-options-table { padding: 8px; margin: 0; background: #fafafa; }
.table-condensed-options-table tr > td {
padding: 0 7px; margin: 0; border-bottom: thin solid #bef; }

#tswMved small { position:relative; top: -1em; }
#tswMved {margin: 0; padding:0; }

/* Have A Wonderful time */
